<div class="col-md-8 col-xs-12 col-md-offset-2 mt">
  <form>
    <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input type="email" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPhno">Phone Number</label>
        <input type="number" class="form-control" id="exampleInputNumber" aria-describedby="nameHelp" placeholder="Enter Phone Number">
    </div>
    <div class="form-group">
        <label for="exampleInputPhno">User Role</label>  
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect py-3">
            <option selected>Choose...</option>
            <option value="1">Admin</option>
            <option value="2">Staff</option>
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" class="custom-control-input">
        <!-- <span class="custom-control-indicator"></span> -->
        <span class="custom-control-description">Status</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>