<div class="cc_slider_main_wrapper">
    <div class="cc_slider_img_section">
        <div class="owl-carousel owl-theme">
            <div class="item cc_main_slide1">
                <div class="cc_slider_overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="cc_slider_cont1_wrapper">
                                <div class="cc_slider_cont1">
                                    <h2 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">We Offer <span>30,000+</span><br> Job Vacancies Right Now!</h2>
                                    <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">Find Jobs, Employment & Career Opportunities</h1>
                                    <p data-animation-in="zoomIn" data-animation-out="animate-out zoomIn">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum<br> auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet<br> nibh vulputate cursus a sit
                                        amet mauris. Morbi accumsan</p>
                                    <ul>
                                        <li data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft"><a href="#"><i class="fa fa-plus-circle"></i> GET STARTED</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="jp_slider_form_main_wrapper" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">
                                <div class="jp_main_slider_heading_wrapper">
                                    <h2>Find Your Job!</h2>
                                </div>
                                <div class="jp_slider_form_input">
                                    <input type="text" placeholder="Keyword e.g. (Job Title, Description, Tags)">
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-dot-circle-o first_icon"></i><select>
                    <option>Select Location</option>
                    <option>Select Location</option>
                    <option>Select Location</option>
                    <option>Select Location</option>
                    <option>Select Location</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-th-large first_icon"></i><select>
                    <option>Category</option>
                    <option>Category</option>
                    <option>Category</option>
                    <option>Category</option>
                    <option>Category</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-line-chart first_icon"></i><select>
                    <option>Experience</option>
                    <option>Experience</option>
                    <option>Experience</option>
                    <option>Experience</option>
                    <option>Experience</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-money first_icon"></i><select>
                    <option>salary</option>
                    <option>salary</option>
                    <option>salary</option>
                    <option>salary</option>
                    <option>salary</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_btn_wrapper">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-search"></i>&nbsp; SEARCH</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item cc_main_slide2">
                <div class="cc_slider_overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="cc_slider_cont1_wrapper">
                                <div class="cc_slider_cont1">
                                    <h2 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">We Offer <span>30,000+</span><br> Job Vacancies Right Now!</h2>
                                    <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">Find Jobs, Employment & Career Opportunities</h1>
                                    <p data-animation-in="zoomIn" data-animation-out="animate-out zoomIn">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum<br> auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet<br> nibh vulputate cursus a sit
                                        amet mauris. Morbi accumsan</p>
                                    <ul>
                                        <li data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft"><a href="#"><i class="fa fa-plus-circle"></i> GET STARTED</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="jp_slider_form_main_wrapper" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">
                                <div class="jp_main_slider_heading_wrapper">
                                    <h2>Find Your Job!</h2>
                                </div>
                                <div class="jp_slider_form_input">
                                    <input type="text" placeholder="Keyword e.g. (Job Title, Description, Tags)">
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-dot-circle-o first_icon"></i><select>
                    <option>Select Location</option>
                    <option>Select Location</option>
                    <option>Select Location</option>
                    <option>Select Location</option>
                    <option>Select Location</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-dot-circle-o first_icon"></i><select>
                    <option>Category</option>
                    <option>Category</option>
                    <option>Category</option>
                    <option>Category</option>
                    <option>Category</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-dot-circle-o first_icon"></i><select>
                    <option>Experience</option>
                    <option>Experience</option>
                    <option>Experience</option>
                    <option>Experience</option>
                    <option>Experience</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-dot-circle-o first_icon"></i><select>
                    <option>salary</option>
                    <option>salary</option>
                    <option>salary</option>
                    <option>salary</option>
                    <option>salary</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_btn_wrapper">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-search"></i>&nbsp; SEARCH</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item cc_main_slide3">
                <div class="cc_slider_overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="cc_slider_cont1_wrapper">
                                <div class="cc_slider_cont1">
                                    <h2 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">We Offer <span>30,000+</span><br> Job Vacancies Right Now!</h2>
                                    <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">Find Jobs, Employment & Career Opportunities</h1>
                                    <p data-animation-in="zoomIn" data-animation-out="animate-out zoomIn">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum<br> auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet<br> nibh vulputate cursus a sit
                                        amet mauris. Morbi accumsan</p>
                                    <ul>
                                        <li data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft"><a href="#"><i class="fa fa-plus-circle"></i> GET STARTED</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="jp_slider_form_main_wrapper" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown">
                                <div class="jp_main_slider_heading_wrapper">
                                    <h2>Find Your Job!</h2>
                                </div>
                                <div class="jp_slider_form_input">
                                    <input type="text" placeholder="Keyword e.g. (Job Title, Description, Tags)">
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-dot-circle-o first_icon"></i><select>
                    <option>Select Location</option>
                    <option>Select Location</option>
                    <option>Select Location</option>
                    <option>Select Location</option>
                    <option>Select Location</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-dot-circle-o first_icon"></i><select>
                    <option>Category</option>
                    <option>Category</option>
                    <option>Category</option>
                    <option>Category</option>
                    <option>Category</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-dot-circle-o first_icon"></i><select>
                    <option>Experience</option>
                    <option>Experience</option>
                    <option>Experience</option>
                    <option>Experience</option>
                    <option>Experience</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_location_wrapper">
                                    <i class="fa fa-dot-circle-o first_icon"></i><select>
                    <option>salary</option>
                    <option>salary</option>
                    <option>salary</option>
                    <option>salary</option>
                    <option>salary</option>
                  </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                                <div class="jp_slider_form_btn_wrapper">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-search"></i>&nbsp; SEARCH</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>