<div class="col-md-8 col-xs-12 col-md-offset-2 mt">
  <h1 class="text-white text-center">Login To Your Account</h1>
  <form>
    <div class="form-group">
      <label for="Phone Number">Phone Number</label>
      <input type="number" class="form-control" id="exampleInputPhoneNumber" aria-describedby="phoneHelp" placeholder="Enter Phone Number">
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-red">Login</button>
  </form>
</div>
