<div class="col-md-8 col-xs-12 col-md-offset-2 mt">
  <h1 class="text-white text-center">Create an Account</h1>
  <form action="" method="POST">
    <div class="form-group">
        <label for="Account Type">Account Type</label>  
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0 py-3 form-control" id="">
            <option selected>Choose...</option>
            <option value="1">Job Seeker</option>
            <option value="2">Employer</option>
        </select>
    </div>
    <div class="form-group">
      <label for="User">User Name</label>
      <input type="text" class="form-control" id="usr_name" aria-describedby="usernameHelp" placeholder="Enter User Name">
    </div>
    <div class="form-group">
        <label for="Phone">Phone Number</label>
        <input type="number" class="form-control" id="ph_no" aria-describedby="phonenumberHelp" placeholder="Enter Phone Number">
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="pwdHelp" placeholder="Enter Password">
    </div>
    
    <button type="submit" class="btn btn-red">Register</button>
  </form>
</div>