<app-ccslider></app-ccslider>
<app-popularcategory></app-popularcategory>
<app-recentjob></app-recentjob>
<div class="jp_register_section_main_wrapper">
        <div class="jp_regis_left_side_box_wrapper">
            <div class="jp_regis_left_side_box">
                <img src="assets/images/content/regis_icon.png" alt="icon" />
                <h4>I’m an EMPLOYER</h4>
                <p>Signed in companies are able to post new<br> job offers, searching for candidate...</p>
                <ul>
                    <li><a routerLink="/register"><i class="fa fa-plus-circle"></i> &nbsp;REGISTER AS COMPANY</a></li>
                </ul>
            </div>
        </div>
        <div class="jp_regis_right_side_box_wrapper">
            <div class="jp_regis_right_img_overlay"></div>
            <div class="jp_regis_right_side_box">
                <img src="assets/images/content/regis_icon2.png" alt="icon" />
                <h4>I’m an CANDIDATE</h4>
                <p>Signed in companies are able to post new<br> job offers, searching for candidate...</p>
                <ul>
                    <li><a routerLink="/register"><i class="fa fa-plus-circle"></i> &nbsp;REGISTER AS COMPANY</a></li>
                </ul>
            </div>
            <div class="jp_regis_center_tag_wrapper">
                <p>OR</p>
            </div>
        </div>

</div>
<app-jccounter></app-jccounter>
<app-offeringdeals></app-offeringdeals>