<div class="jp_recent_job_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="cc_featured_product_main_wrapper">
                    <div class="jp_hiring_heading_wrapper jp_job_post_heading_wrapper">
                        <h2>Recent Jobs</h2>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#best" aria-controls="best" role="tab" data-toggle="tab">Featured</a></li>
                        
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="best">
                        <div class="ss_featured_products">
                            <div class="owl-carousel owl-theme row">
                               
                                        <div class="item col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor ="let job of jobs">
                                            <div class="jp_job_post_main_wrapper_cont">
                                                <div class="jp_job_post_main_wrapper">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="jp_job_post_side_img">
                                                                <img src="assets/images/content/job_post_img1.jpg" alt="post_img" />
                                                            </div>
                                                            <div class="jp_job_post_right_cont">
                                                                <h4>{{job.title}}</h4>
                                                                <p>{{job.description}}</p>
                                                                <ul>
                                                                    <li><i class="fa fa-map-marker"></i>&nbsp; {{job.company}}</li>
                                                                    <li><i class="fa fa-cc-paypal"></i>&nbsp; {{job.salary}}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <div class="jp_job_post_right_btn_wrapper">
                                                                <ul>
                                                                    <li><a routerLink="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a routerLink="#">Part Time</a></li>
                                                                    <li><a routerLink="#">Apply</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="jp_job_post_keyword_wrapper">
                                                    <ul>
                                                        <li><i class="fa fa-tags"></i>Keywords :</li>
                                                        <li><a routerLink="#">ui designer,</a></li>
                                                        <li><a routerLink="#">developer,</a></li>
                                                        <li><a routerLink="#">senior</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        

                                    
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>